# Игнорируем большие папки
CodingProjects-master/vendor/
CodingProjects-master/node_modules/
CodingProjects-master/storage/logs/
CodingProjects-master/storage/framework/
.idea/
.venv/
__pycache__/
*.pyc

# Игнорируем конфигурационные файлы
CodingProjects-master/.env
CodingProjects-master/.env.example

# Игнорируем скомпилированные файлы
CodingProjects-master/public/hot
CodingProjects-master/public/storage
CodingProjects-master/storage/*.key

# Игнорируем логи
*.log
